* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  margin: 0;
  background: #0f0f0f;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background: #1b1b1b;
  padding: 40px;
  width: 320px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 0 20px rgba(0,0,0,0.6);
}

h1 {
  color: white;
  margin-bottom: 10px;
}

p {
  color: #aaa;
}

input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  background: #2a2a2a;
  border: none;
  border-radius: 5px;
  color: white;
}

input:focus {
  outline: 1px solid #555;
}

button {
  width: 100%;
  padding: 12px;
  background: #fff;
  color: #000;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background: #ddd;
}

.link {
  margin-top: 15px;
}

a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

#msg {
  margin-top: 10px;
  color: #f55;
}

.barbeiro {
    background: #222;
    color: white;
    padding: 15px;
    margin: 10px 0;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.2s;
}

.barbeiro:hover {
    background: #444;
}
